
#Componentes .comp-columna {
    position: relative;
    margin-bottom: 30px;
    top: 50px;
    left: 0;
}
#Componentes .comp-descip {
    position: absolute;
    top: 0;
    left: 0px;
    color: white;
    background: rgba(0,0,0,0.5);
    width: 45%;
    height: 98.8%;
    text-align: left;
}
#Componentes img{
    width: 100%;
    height: 100%;
    max-width: 420px;
    max-height: 280px;
}
#Componentes .titulo{
    font-size: 25px;
    margin: 15px 0;
    position:absolute;
    top: 15px;
    left: 12px;
}
#Componentes .componente--txt
{
    position:absolute;
    top: 100px;
    left: 12px;
}
#Componentes .Titulo_general{
    text-align: center;
    font-size: 35px;
    color: #333333;
    position: absolute;


}
#Componentes  .BUTONN{
    position: absolute;
    display: block;
    top: 210px;
    left: 50px;
    width: 80px;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    background: #1E90FF;
}
@media (min-width: 480px) {
    #Componentes .contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
    }
    #Componentes .comp-columna{
        width: 49%;
    }
    #Componentes .comp-descip{
        width: 100%;
    }
    #Componentes .BUTONN{
        display: none;
    }

}

@media (min-width: 700px) {
 #Componentes .comp-descip{
     width: 45%;
 }
    #Componentes .BUTONN{
        display: block;
    }
    #Componentes a:hover{
        background: rgba(51,51,51,0.9);
    }
}
@media (min-width: 1024px) {
    #Componentes .titulo {
      font-size: 30px;
    }
    #Componentes .componente--txt{
        position:absolute;
        top: 120px;
        left: 12px;
    }
    #Componentes .comp-descip{
        width: 45%;
    }
    #Componentes .Titulo_general{
        top: 370px;
        left: 520px;
    }


}